@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Montserrat', system-ui, sans-serif;
  background-color: #fff;
  color: #1a202c;
}

h1,
h2,
h3,
h4,
h5,
h56 {
  font-family: 'Mozilla Headline', 'system-ui', 'sans-serif';
}